<div class="content-ingrediente-form">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= @ingrediente.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= @ingrediente.descricao %>
  </p>

  <p>
    <strong>Produzido:</strong>
    <%= @ingrediente.produzido %>
  </p>

  <p>
    <strong>Processo:</strong>
    <%= @ingrediente.processo.nome %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= @ingrediente.quantidade %>
  </p>
  <div class="actions-button">
    <%= link_to 'Edit', edit_ingrediente_path(@ingrediente), class: 'btn custom-primary-btn' %>
    <%= link_to 'Back', ingredientes_path, class: 'btn custom-primary-btn'%>
  </div>
</div>
