<div class="ingredientes-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= @ingrediente.nome %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @ingrediente.descricao %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= @ingrediente.quantidade %>
  </p>

  <p>
    <strong>Quantidade Consumida:</strong>
    <%= @ingrediente.quantidade_consumo %>
  </p>

  <% if @ingrediente.processos.present? %>
    <strong>Processos:</strong>
    <table class="table table-hover">
      <thead class="header-table">
        <tr>
          <th>Nome</th>
          <th>Descricao</th>
        </tr>
      </thead>

      <tbody>
        <% @ingrediente.processos.each do |processo| %>
          <tr>
            <td><%= processo.nome %></td>
            <td><%= processo.descricao %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="actions-button">
    <%= link_to 'Editar', edit_ingrediente_path(@ingrediente), class: 'btn custom-primary-btn' %>
    <%= link_to 'Voltar', ingredientes_path, class: 'btn custom-primary-btn'%>
  </div>
</div>
