<div class="content">
  <div class="login-wrapper">
    <h2 style="color: white;">Criar conta</h2>

    <div class="form-group">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

          <%= f.input :nome, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Nome', label: false %>

          <%= f.input :email, type: 'email', autocomplete: "email", class: 'form-control', placeholder: 'Email', label: false %>

          <%= f.input :password, type: 'password', autocomplete: "new-password", class: 'form-control', placeholder: 'Senha', label: false %>

          <%= f.input :password_confirmation, type: 'password', autocomplete: "new-password", class: 'form-control', placeholder: 'Confirme sua senha', label: false %>

        <div class="criar-conta">
          <%= f.submit "Criar", class: 'btn btn-login btn-block' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
