<div class="form-group">
  <%= simple_form_for @engenharia do |f| %>
    <% if engenharia.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(engenharia.errors.count, "error") %> prohibited this engenharia from being saved:</h2>

        <ul>
        <% engenharia.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :descricao %>
      <%= f.text_field :descricao, class: 'form-control' %>
    </div>

    <div class="actions button-create">
      <%= f.submit "Salvar", class: 'btn custom-primary-btn btn-block' %>
    </div>
  <% end %>
</div>

<script>
  $("#dropdown").select2({
    theme: "bootstrap"
  });

  $("#select2").select2();
</script>
