<div class="engenharias-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  <h1 class="title">Engenharias</h1>

  <%= search_form_for @q do |f| %>
    <%= f.search_field :descricao_cont, class: 'form-control' %>
    <%= f.submit %>
  <% end %>

  <table class="table">
    <thead class="header-table">
      <tr>
        <th>Descrição</th>
        <th>Status</th>
        <th>Usuário</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @engenharias.each do |engenharia| %>
        <tr>
          <td><%= engenharia.descricao %></td>
          <td><%= t engenharia.try(:processos).try(:last).try(:status) || 'Indefinido' %></td>
          <td><%= engenharia.usuario.nome %></td>
          <td class="action"><%= link_to 'Produzir', produzir_engenharia_path(engenharia), method: :post %></td>
          <td class="success"><%= link_to 'Visualizar', engenharia %></td>
          <td class="warning"><%= link_to 'Editar', edit_engenharia_path(engenharia) %></td>
          <td class="error"><%= link_to 'Excluir', engenharia, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @engenharias, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

  <br>

  <%= link_to 'Nova engenharia', new_engenharia_path, class: 'btn custom-primary-btn' %>
</div>
