<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @engenharia.descricao %>
</p>

<p>
  <strong>Status:</strong>
  <%= @engenharia.status %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @engenharia.usuario %>
</p>

<%= link_to 'Edit', edit_engenharia_path(@engenharia) %> |
<%= link_to 'Back', engenharias_path %>
