<div class="content-engenharia-form">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Descricao:</strong>
    <%= @engenharia.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @engenharia.status %>
  </p>

  <p>
    <strong>Usuario:</strong>
    <%= @engenharia.usuario.nome %>
  </p>

  <div class="action-button">
    <%= link_to 'Editar', edit_engenharia_path(@engenharia), class: 'btn custom-primary-btn' %>
    <%= link_to 'Voltar', engenharias_path, class: 'btn custom-primary-btn' %>
  </div>
</div>
