<div class="engenharias-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <p>
    <strong>Descrição:</strong>
    <%= @engenharia.descricao %>
  </p>

  <p>
    <strong>Usuário:</strong>
    <%= @engenharia.usuario.nome %>
  </p>

  <% if @engenharia.processos.present? %>
    <strong>Processos:</strong>
    <table class="table">
      <thead class="header-table">
        <tr>
          <th>Nome</th>
          <th>Descricao</th>
        </tr>
      </thead>

      <tbody>
        <% @engenharia.processos.each do |processo| %>
          <tr>
            <td><%= processo.nome %></td>
            <td><%= processo.descricao %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="action-button">
    <%= link_to 'Editar', edit_engenharia_path(@engenharia), class: 'btn custom-primary-btn' %>
    <%= link_to 'Voltar', engenharias_path, class: 'btn custom-primary-btn' %>
  </div>
</div>
