<div class="content">
  <div class="login-wrapper">
    <h2>Esqueceu sua senha?</h2>

    <div class="form-group">
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Me mande instruções para resetar a senha", class: 'btn btn-login btn-block' %>
        </div>
      <% end %>
      <div class="links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
