<div class="form-group">
  <%= simple_form_for @processo do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :nome, class: 'form-control'%>
      <%= f.input :descricao, class: 'form-control'%>
      <%= f.input :quantidade_produzida, class: 'form-control'%>
      <div class="form-group">
        <%= f.label :engenharias %>
        <%= f.association :engenharia, label: false, collection: engenharias_for_select, class: 'form-control', include_blank: false, input_html: { multiple: false } %>
      </div>
      <div class="form-group">
        <%= f.label :ingredientes %>
        <%= f.association :ingredientes, label: false, collection: ingredientes_options_for_select, include_hidden: false, input_html: { multiple: true, id: 'select2' } %>
      </div>
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, status_processo_options_for_select, {}, class: 'form-control' %>
      </div>
    </div>

    <div class="actions button-create">
      <%= f.submit "Salvar", class: 'btn custom-primary-btn btn-block' %>
    </div>
  <% end %>
</div>

<script>
  $("#dropdown").select2({
    theme: "bootstrap"
  });

  $("#select2").each(function(){
    $(this).select2();
  });
</script>
