<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<p>
  <strong>Nome:</strong>
  <%= @processo.nome %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @processo.descricao %>
</p>

<p>
  <strong>Engenharia:</strong>
  <%= @processo.engenharia %>
</p>

<p>
  <strong>Status:</strong>
  <%= @processo.status %>
</p>

<%= link_to 'Edit', edit_processo_path(@processo) %> |
<%= link_to 'Back', processos_path %>
