<div class="processos-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= @processo.nome %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= @processo.descricao %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= t @processo.status %>
  </p>

  <% if @processo.engenharia.present? %>
    <strong>Engenharias:</strong>
    <table class="table">
      <thead class="header-table">
        <tr>
          <th>Descrição</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td><%= @processo.engenharia.descricao %></td>
        </tr>
      </tbody>
    </table>
  <% end %>

  <% if @processo.ingredientes.present? %>
    <strong>Ingredientes:</strong>
    <table class="table">
      <thead class="header-table">
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
        </tr>
      </thead>

      <tbody>
        <% @processo.ingredientes.each do |ingrediente| %>
          <tr>
            <td><%= ingrediente.nome %></td>
            <td><%= ingrediente.quantidade %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="action-button">
    <%= link_to 'Editar', edit_processo_path(@processo), class: 'btn custom-primary-btn' if @processo.status != 'finalizado' %>
    <%= link_to 'Voltar', processos_path, class: 'btn custom-primary-btn' %>
  </div>
</div>
