<div class="form-group">
  <%= simple_form_for @produto, html: {multipart: true} do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :nome, class: 'form-control' %>
      <%= f.input :descricao, label: 'Descrição', class: 'form-control' %>
      <%= f.input :quantidade, class: 'form-control' %>
      <%= f.input :preco, label: 'Preço', class: 'form-control' %>
      <%= f.input :produzido, class: 'form-control', input_html: {id: 'check-produzido'} %>
      <div class="form-group" id="div-engenharias-select">
        <%= f.label :engenharia_id %>
        <%= f.select :engenharia_id, Engenharia.all.collect { |e| [e.descricao, e.id] }, {}, class: 'form-control' %>
      </div>
      <%= f.input :imagem, as: :file, class: 'form-control-file' %>
    </div>

    <div class="actions button-create">
      <%= f.submit "Salvar", class: 'btn custom-primary-btn btn-block' %>
    </div>
  <% end %>
</div>

<script>
  $("#check-produzido").change(function() {
    if(this.checked){
      $("#div-engenharias-select").show()
    } else {
      $('#div-engenharias-select').hide()
    }
  });
</script>