<div class="form-group">
  <%= simple_form_for @produto, html: {multipart: true} do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :nome, class: 'form-control' %>
      <%= f.input :descricao, label: 'Descrição', class: 'form-control' %>
      <%= f.input :quantidade, class: 'form-control' %>
      <%= f.input :preco, label: 'Preço', class: 'form-control' %>
      <%= f.input :produzido, class: 'form-control', input_html: { id: 'check-produzido' } %>
      <%= f.input :engenharia_id, collection: engenharias_options_for_select, include_blank: false, input_html: { id: 'select2' } %>
      <%= f.input :imagem, as: :file, class: 'form-control-file' %>
    </div>

    <div class="actions button-create">
      <%= f.submit "Salvar", class: 'btn custom-primary-btn btn-block' %>
    </div>
  <% end %>
</div>

<script>
  $("#check-produzido").change(function() {
    if(this.checked){
      $(".produto_engenharia_id").show()
    } else {
      $('.produto_engenharia_id').hide()
    }
  });

  $("#dropdown").select2({
    theme: "bootstrap"
  });

  $("#select2").select2();

</script>
