<div class="produtos-content">
  <p id="notice"><%= notice %></p>

  <h1 class="title">Produtos</h1>

  <div class="cards-produtos">
    <% @produtos.each do |produto| %>
      <%= link_to produto do %>
        <div class="card custom-card" style="width: 18rem;">
          <%= image_tag('chopp.jpg', class: 'card-img-top') %>
          <div class="card-body">
            <h5 class="card-title"><%= produto.nome %></h5>
            <p class="card-text"><%= produto.descricao %><p>
            <%= link_to 'Editar', edit_produto_path(produto) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Novo Produto', new_produto_path, class: 'btn custom-primary-btn' %>
</div>
