<div class="produtos-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1 class="title">Produtos</h1>

  <div class="cards-produtos">
    <% @produtos.each do |produto| %>
      <%= link_to produto do %>
        <div class="card custom-card" style="width: 18rem;">
          <% if produto.imagem.attached? %>
            <%= image_tag(url_for(produto.imagem), class: 'card-img-top img-top') %>
          <% else %>
            <%= image_tag('imagem_nao_cadastrada.png', class: 'card-img-top img-top') %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= produto.nome %></h5>
            <p class="card-text"><%= produto.descricao %><p>
            <p class="preco-text">R$: <%= number_with_precision(produto.preco, precision: 2) %><p>

            <%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-block custom-primary-btn ' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= link_to 'Novo Produto', new_produto_path, class: 'btn custom-primary-btn' %>
</div>
