<div class="produtos-content">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <h1 class="title">Produtos</h1>
  <%= link_to 'Novo Produto', new_produto_path, class: 'btn custom-primary-btn' %>


  <%= search_form_for @q do |f| %>
    <%= f.search_field :descricao_or_nome_cont, class: 'form-control' %>
    <%= f.submit %>
  <% end %>

  <div class="cards-produtos">
    <% @produtos.each do |produto| %>
      <%= link_to produto do %>
        <div class="card custom-card" style="width: 18rem;">
          <% if produto.imagem.attached? %>
            <%= image_tag(url_for(produto.imagem), class: 'card-img-top img-top') %>
          <% else %>
            <%= image_tag('imagem_nao_cadastrada.png', class: 'card-img-top img-top') %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= produto.nome %></h5>
            <p class="card-text"><%= produto.descricao %><p>
            <p class="preco-text">R$: <%= number_with_precision(produto.preco, precision: 2) %><p>
            <p class="quantidade-text"><%= number_with_precision(produto.quantidade, precision: 2)%> litros disponíveis</p>

            <%= link_to 'Editar', edit_produto_path(produto), class: 'btn btn-block custom-primary-btn ' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $('.card-text').each(function(){
    if($(this)[0].innerText.length > 19){
     $(this)[0].innerText = $(this)[0].innerText.slice(0, 19).concat('...')
    }
  })
</script>