<div class="content-engenharia-form">
  <% if notice %>
    <div class="alert alert-primary">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>
  
  <p>
    <strong>Descrição:</strong>
    <%= @produto.descricao %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= @produto.quantidade %>
  </p>

  <p>
    <strong>Preço:</strong>
    <%= @produto.preco %>
  </p>

  <p>
    <strong>Produzido:</strong>
    <%= @produto.produzido %>
  </p>

  <p>
    <% if @produto.imagem.attached? %>
      <%= image_tag(url_for(@produto.imagem), class: 'produto-image') %>
    <% else %>
      <%= image_tag('imagem_nao_cadastrada.png', class: 'produto-image') %>
    <% end %>
  </p>

  <div class="action-button">
    <%= link_to 'Editar', edit_produto_path(@produto), class: 'btn custom-primary-btn' %>
    <%= link_to 'Voltar', produtos_path, class: 'btn custom-primary-btn' %>
  </div>
</div>